:root,
body {
    --shadow: 0 0 8px rgba(255, 255, 255, 0.6);
    overflow-x: hidden;
    margin: auto;
    padding: 0;
    max-width: 1200px;
}

header {
    position: relative;
    background-color: black;
    font-family: "Montserrat", sans-serif;
}

header span {
    font-size: 1.4rem;
}

.heading {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    align-items: center;
    font-family: "Monyserrat", sans-serif;
    color: white;
}

.heading img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.menu {
    padding: .5rem 1rem;
    font-size: 1.5rem;
    color: white;
    background-color: rgb(50, 50, 50);
    border-radius: 10px;
    box-shadow: rgb(255, 255, 255, .8) 3px 3px;

    cursor: pointer;
}

.menu::before {
    content: "☰";
}

.menu.open::before {
    content: "✖";
}

nav {
    background-color: black;
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    height: auto;
    /* overflow: hidden; */
    transform-origin: top center;
    transform: scaleY(0);
    transition: transform .5s ease-out;
    z-index: 1000;
}

nav.open {
    transform: scaleY(1);
    /* scaleX for left to right unfolding */
}

.nav.open {
    border-radius: 10px;
    border: 5px double rgb(50, 50, 50);
    display: flex;
    justify-content: space-around;
    font-family: "Prompt", sans-serif;
    padding: .5rem 0;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    font-size: 1rem;
    color: white;
}

.active {
    font-weight: bold;
}

/* " my personal attempt" */
nav {
    display: none;
}

.nav {
    display: none;
}

.open.nav {
    display: flex;
    justify-content: space-around;
    border: 5px double gray;
    border-radius: 10px;
    padding: .5rem 0;

}


nav li {
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;

}