:root {
    overflow-x: hidden;
    margin: auto 0;
    background-color: rgb(255, 235, 238);
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
}