header {
    position: relative;

    background-color: black;

    /* background-image:
        linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("/images/starrynight.webp"); */

    /* Make it cover the whole area */
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */

    /* Fix font name and quotes */
    font-family: "Montserrat", sans-serif;
}

header span {
    font-size: 1.4rem;
}

.heading {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    font-family: "Monyserrat", sans-serif;
    color: white;
}

.heading img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.menu {
    padding: .5rem 1rem;
    font-size: 1.5rem;
    color: white;
    background-color: rgb(50, 50, 50);
    border-radius: 10px;
    box-shadow: rgb(255, 255, 255, .8) 3px 3px;

    cursor: pointer;
}

.menu::before {
    content: "☰";
}

.menu.open::before {
    content: "✖";
}

nav {
    /* display: none; */
    background-color: black;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    overflow: hidden;
    transform-origin: top center;
    transform: scaleY(0);
    transition: transform .5s ease-out;
    z-index: 1000;
}

nav.open {
    transform: scaleY(1);
    /* scaleX for left to right unfolding */
}

.nav.open {
    border-radius: 10px;
    border: 5px double rgb(50, 50, 50);
    display: flex;
    justify-content: space-around;
    font-family: "Prompt", sans-serif;
    padding: .5rem 0;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: white;
}

.active {
    font-weight: bold;
}